<header class="header">
  <h1>{{ "home.title" | translate }}</h1>
</header>
<div id="content">
  <p>
    Gestionar las actividades extraescolares puede ser un desafío, especialmente
    para los padres ocupados y sus hijos que tienen un horario lleno de
    actividades escolares y extracurriculares. Aquí hay algunos consejos para
    ayudar a gestionar las actividades extraescolares:
  </p>
  <ul>
    <li>
      Priorizar las actividades: Es importante priorizar las actividades
      extraescolares según los intereses y las necesidades de los niños y de la
      familia en general. Asegúrese de que su hijo tenga suficiente tiempo para
      realizar sus tareas escolares, actividades extracurriculares y también
      para descansar y relajarse.
    </li>
    <li>
      Establecer horarios: Es útil tener un horario semanal para que todos en la
      familia sepan cuándo y dónde se llevarán a cabo las actividades. También
      puede ayudar a evitar conflictos de horarios y asegurarse de que haya
      suficiente tiempo para todas las actividades.
    </li>
    <li>
      Organización: Mantener una lista de verificación o un calendario puede
      ayudar a mantenerse organizado y asegurarse de que todos los suministros
      necesarios para las actividades estén disponibles. Además, asegúrese de
      que su hijo tenga un lugar para guardar su equipo deportivo o musical y
      que esté preparado para la actividad.
    </li>
    <li>
      Comunicación: Comuníquese con los maestros, entrenadores y otros padres
      para asegurarse de que está al tanto de cualquier cambio en los horarios o
      requisitos para las actividades. Además, asegúrese de que su hijo esté al
      tanto de cualquier cambio en su horario o en las actividades.
    </li>
    <li>
      Flexibilidad: A veces, incluso con la mejor planificación, pueden surgir
      imprevistos. Es importante ser flexible y estar dispuesto a ajustar el
      horario y las actividades según sea necesario.
    </li>
    <li>
      Fomentar la responsabilidad: Anime a su hijo a tomar responsabilidad por
      sus actividades extraescolares, como empacar su propio equipo o practicar
      sus habilidades en casa. Esto puede ayudar a desarrollar habilidades de
      organización y responsabilidad que serán útiles en el futuro.
    </li>
  </ul>
  <p>
    En general, la gestión de las actividades extraescolares requiere un poco de
    planificación y organización, pero puede ser una experiencia positiva y
    enriquecedora para su hijo y para toda la familia.
  </p>
</div>
